.slider {
    max-width: 800px;
    margin: 0 auto 100px;
}

.item {
    width: auto;
}

.slider .owl-carousel .owl-nav .owl-prev {
    float: left;
}

.owl-carousel .owl-nav .owl-next {
    float: right;
}